// -----------------------------------------------------------------------------
// config

$border-color: #e8e8e8;
$container-bg: #fcfcfc;

// -----------------------------------------------------------------------------
// main layout

body {
    background: white url(/static/images/debut_light.png) top left repeat;
}

body > header {
    margin: 0 0 1em;

    background: hsl(0, 60%, 40%);
    background: url(/static/images/debut_dark.png) #333;
    color: #eee;
    border-bottom: 1px solid #444;
    box-shadow:
        inset 0 2em 3em -2em rgba(white, 0.2),
        0 0 3px black;

    > nav > ul {
        // TODO float containment
        > li {
            display: inline-block;

            &.nav-search {
                float: right;
                font-size: 0.83em;
                // TODO janktastic  :(
                height: (1.5em + 0.33em * 2) / 0.83;
                line-height: (1.5em + 0.33em * 2) / 0.83;
                padding: 0 0.5em;
            }
            &.nav-auth {
                float: right;
            }

            > a,
            > .not-a-link {
                display: block;
                padding: 0.33em 1em;
                line-height: 1.5;
            }
            > a:hover {
                background: hsl(225, 20%, 60%);
                background: url(/static/images/debut_dark.png) hsl(225, 40%, 70%);
                background: hsla(225, 70%, 70%, 0.5);
            }
        }
    }

    a {
        text-decoration: none;
        color: #f4f4f4;
        &:visited,
        &:hover,
        &:visited:hover {
            color: #f4f4f4;
        }
    }
}

body > nav {
    float: left;
    width: 20%;
    margin: 0 1em;
    padding: 0 0 2em;

    // well?
    /*
    border-radius: 0.5em;
    background: #f8f8f8;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 2px #ddd;
    */

    border-right: 1px solid hsl(215, 30%, 80%);

    > ul > li {
        line-height: 1.33;

        > a {
            display: block;
            padding: 0.25em;
            text-decoration: none;

            border-right: 2px solid transparent;

            &:hover {
                background: hsla(215, 60%, 90%, 0.4);
                border-right-color: hsl(215, 30%, 80%);
            }
        }

        &.-header {
            padding: 1em 0.25em 0.25em;

            ~ li > a {
                padding-left: 1.25em;
            }
        }
    }
}

body > .main {
    overflow: hidden;  // float context hack TODO remove me  :(

    > section {
        margin-left: 1em;
        margin-right: 1em;
    }
}

// TODO should this only apply to pastebin contents?
pre.pastebin {
    margin: 1em 0;
    padding: 0.75em;
    white-space: pre-wrap;
    border: 1px solid #999;
    background: white;
    box-shadow: 0 0 3px #ccc;
}

// XXX lol
textarea {
    -moz-box-sizing: border-box:
    box-sizing: border-box:
    width: 100%;
}


// -----------------------------------------------------------------------------
// general styling

a {
    color: hsl(210, 70%, 50%);
    &:hover {
        color: hsl(210, 70%, 35%);
    }

    &:visited {
        color: hsl(255, 70%, 60%);
        &:hover {
            color: hsl(255, 70%, 50%);
        }
    }
}

// TODO seems obvious candidate for archetype
input[type=search] {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;
}

// -----------------------------------------------------------------------------
// widgets

.activity-feed {
    border: 1px solid $border-color;

    li {
        background: $container-bg;

        border-top: 1px solid $border-color;

        &:first-child {
            border-top: none;
        }

        .-header {
            padding: 0.5em;
            background: #f0f0f0;

        }
        .-timestamp {
            float: right;
        }
        .-title {
            float: right;
            margin-right: 2em;
            font-family: serif;

            &:before {
                content: "“";
            }
            &:after {
                content: "”";
            }
        }
        .-body {
            padding: 1em;

            pre {
                white-space: pre-wrap;
                border-left: 3px solid $border-color;
                padding-left: 0.5em;
            }
        }
    }
}
