// -----------------------------------------------------------------------------
// config

$border-color: #e8e8e8;
$container-bg: #fcfcfc;

// -----------------------------------------------------------------------------
// main layout

body {
    background: white url(/static/images/debut_light.png) top left repeat;
}

body > header {
    position: relative;
    margin: 0 0 1em;

    background: url(/static/images/debut_light.png) fixed #333;
    background: hsl(225, 30%, 50%);

    > h1 {
        font-size: 2em;
        margin: 0;
        padding: 0.5em;
        color: hsl(225, 50%, 95%);
        color: white;
        font-weight: normal;
    }
    > h2 {
        font-size: 1.33em;
        margin: 0;
        padding: 0.75em;
        color: hsl(225, 50%, 85%);
        font-weight: normal;
    }
    > h1 + h2 {
        margin-top: -0.75em;
        padding-top: 0;
    }

    > nav.navbar {
        // Keep box-shadow above following h1 and h2
        z-index: 1;

        background: url(/static/images/debut_dark.png) fixed #333;
        border-bottom: 1px solid #222;
        box-shadow:
            inset 0 2em 3em -2em rgba(white, 0.2),
            0 0 3px black;

        > ul.global-nav {
            margin: 0;
            padding: 0;
            list-style: none;

            color: #eee;

            // TODO float containment
            > li {
                display: inline-block;

                &.nav-search {
                    float: right;
                    font-size: 0.83em;
                    // TODO janktastic  :(
                    height: (1.5em + 0.33em * 2) / 0.83;
                    line-height: (1.5em + 0.33em * 2) / 0.83;
                    padding: 0 0.5em;
                }
                &.nav-auth {
                    float: right;
                }

                > a,
                > .not-a-link {
                    display: block;
                    padding: 0.33em 1em;
                    line-height: 1.5;
                }
                > a:hover {
                    background: hsl(225, 20%, 60%);
                    background: url(/static/images/debut_dark.png) hsl(225, 40%, 70%);
                    background: hsla(225, 70%, 70%, 0.3);
                }
            }

            a {
                text-decoration: none;
                color: #f4f4f4;
                &:visited,
                &:hover,
                &:visited:hover {
                    color: #f4f4f4;
                }
            }
        }

        > ul.section-nav {
            position: absolute;
            bottom: 1em;
            right: 1em;
            margin: 0;
            padding: 0;
            list-style: none;

            > li {
                display: inline-block;
                margin: 0 0.5em;

                > a {
                    color: white;
                }
            }
        }
    }
}

body > .main {
    > section {
        margin-left: 1em;
        margin-right: 1em;

        h1, h2, h3, h4, h5, h6 {
            border-bottom: 1px solid #ccc;
        }
    }
}

// TODO should this only apply to pastebin contents?
pre.pastebin {
    margin: 1em 0;
    padding: 0.75em;
    white-space: pre-wrap;
    border: 1px solid #999;
    background: white;
    box-shadow: 0 0 3px #ccc;
}

// XXX lol
textarea {
    -moz-box-sizing: border-box:
    box-sizing: border-box:
    width: 100%;
}


// -----------------------------------------------------------------------------
// general styling

a {
    color: hsl(210, 70%, 50%);
    &:hover {
        color: hsl(210, 70%, 35%);
    }

    &:visited {
        color: hsl(255, 70%, 60%);
        &:hover {
            color: hsl(255, 70%, 50%);
        }
    }
}

// TODO seems obvious candidate for archetype
input[type=search] {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;
}

// -----------------------------------------------------------------------------
// widgets

.activity-feed {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid $border-color;

    li {
        background: $container-bg;

        border-top: 1px solid $border-color;

        &:first-child {
            border-top: none;
        }

        .-header {
            padding: 0.5em;
            background: #f0f0f0;

        }
        .-timestamp {
            float: right;
        }
        .-title {
            float: right;
            margin-right: 2em;
            font-family: serif;

            &:before {
                content: "“";
            }
            &:after {
                content: "”";
            }
        }
        .-body {
            padding: 1em;

            pre {
                white-space: pre-wrap;
                border-left: 3px solid $border-color;
                padding-left: 0.5em;
            }
        }
    }
}


/// TODO this is precisely the sort of thing that should live in archetype
table.table-pretty {
    > tbody {
        > tr {
            // TODO standardize on grays
            border-bottom: 1px solid #e0e0e0;

            &:last-child {
                border-bottom: none;
            }

            &:nth-child(2n) {
                background: rgba(#808080, 0.1);
            }

            &:hover {
                background: hsla(225, 80%, 60%, 0.1);
            }
        }
    }
}
