@import "vendor/flex";

.comic-page {
    margin: 1em auto;
}
.comic-page h3 {
    font-size: 1.5em;
    margin: 0;
    font-family: serif;
    font-weight: normal;
}
.comic-page-controls {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    font-size: 1.33em;
    margin: 1rem;
    color: #999;
    line-height: 1;

    .-combined {
        font-size: 2em;
    }

    .-prev,
    .-next {
        @include flex(1);
        a {
            display: block;
            text-decoration: none;
        }
    }
    .-next {
        text-align: right;
    }
    .-date {
        @include flex(1);
        text-align: center;
    }
}

.comic-page-image-container {
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);

    box-sizing: border-box;
    margin: 1em auto;

    // Fallback for browsers without min-content; little janky, though.
    // TODO is there any better way to do this?  at all?  all i want is for the
    // meta stuff at the bottom to be the same width as the comic when possible
    width: 800px;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    min-width: 600px;
    max-width: 100%;
}
.comic-page-image {
    background: white;
    padding: 3px;
    border: 1px solid hsl(0, 0%, 90%);
    box-shadow: 0 1px 3px hsl(0, 0%, 90%);
}
.comic-page-meta {
    @include flexbox;
    @include align-self(stretch);
    @include justify-content(space-between);
    margin-top: 0.33em;

    > .-title {
        text-align: left;
        font-style: italic;
    }
}
