@import "vendor/flex";

// -----------------------------------------------------------------------------
// config

// primary colors
$primary-accent: hsl(225, 30%, 50%);
$secondary-accent: hsl(330, 30%, 50%);
// TODO FLORAVERSE
// temp overrides for floraverse
$primary-accent: #953a34;
$secondary-accent: #8cbc7c;

$link-color: $secondary-accent;
$link-visited-color: scale-color(adjust-hue($secondary-accent, 30deg), $lightness: -20%);

// detail colors (largely grays)
$border-color: #e8e8e8;
$container-bg: #fcfcfc;

$privileged-color: hsl(45, 90%, 75%);

// Headers, where zero is the page title
$h0-color: $primary-accent;
$h1-color: scale-color($primary-accent, $saturation: -50%);
$h0-border: scale-color($primary-accent, $saturation: -70%, $lightness: 80%);
$h1-border: scale-color($primary-accent, $saturation: -70%, $lightness: 90%);


// -----------------------------------------------------------------------------
// main layout

body {
    $bg-color: scale-color($primary-accent, $saturation: -80%, $lightness: 85%);
    background: $bg-color url(/static/images/floraverse-background.png) fixed;

    // TODO need a stick footer, but this is close enough for now
    margin-bottom: 8em;
}

body > header {
    z-index: 5;
    position: relative;

    > nav.navbar {
        background: #222 url(/static/images/debut_dark.png) fixed;
        box-shadow:
            inset 0 -1px 1px -1px rgba(white, 0.5),
            inset 0 2em 3em -2em rgba(white, 0.2),
            0 0 3px rgba(black, 0.9);
        border-bottom: 1px solid #444;

        > ul.global-nav {
            margin: 0;
            padding: 0;
            list-style: none;

            color: #eee;

            // TODO float containment
            > li {
                display: inline-block;

                &.nav-search {
                    float: right;
                    font-size: 0.83em;
                    // TODO janktastic  :(
                    height: (1.5em + 0.33em * 2) / 0.83;
                    line-height: (1.5em + 0.33em * 2) / 0.83;
                    padding: 0 0.5em;
                }
                &.nav-auth {
                    float: right;
                }

                > a,
                > .not-a-link {
                    display: block;
                    padding: 0.33em 1em;
                    line-height: 1.5;
                }
                > a:hover {
                    background: rgba(scale-color($secondary-accent, $saturation: 30%, $lightness: 50%), 0.25);
                }

                > .selected {
                    box-shadow: inset 0 -0.5em 0.5em -0.5em hsl(0, 0%, 50%);
                    $bg-color: scale-color($secondary-accent, $saturation: -70%, $lightness: -10%);
                    background: url(/static/images/debut_dark.png) fixed $bg-color;
                    box-shadow:
                        inset 0 0.25em 0.33em rgba(black, 0.4);

                    &:hover {
                        background: scale-color($secondary-accent, $saturation: -50%, $lightness: -10%);
                    }
                }
            }

            a {
                text-decoration: none;
                color: #f4f4f4;
                &:visited,
                &:hover,
                &:visited:hover {
                    color: #f4f4f4;
                }
            }
        }
    }
}

body > .main {
    position: relative;
    width: 80%;
    min-width: 960px;
    padding: 1em 0;
    margin: 0 auto;

    border: 1px solid #f4f4f4;
    background: #fefefe;

    > header {
        // Page title
        h1 {
            font-size: 2em;
            margin: 1rem;
            margin-top: 0;
            padding-bottom: 0.5rem;
            color: $h0-color;
            font-weight: normal;
            border-bottom: 1px solid $h0-border;
        }

        // Section navigation, on the upper right
        nav {
            float: right;
            margin: 0.5rem;
            padding: 0;

            > ul {
                list-style: none;
                margin: 0;
                padding: 0;

                > li {
                    display: inline-block;
                    margin: 0 0.5em;
                }
            }
        }
    }

    > section {
        margin-left: 1em;
        margin-right: 1em;

        h1 {
            font-size: 1.5rem;
            padding-bottom: 0.25rem;
            border-bottom: 1px solid $h1-border;
            color: $h1-color;
            font-weight: normal;
        }
    }
}

// TODO should this only apply to pastebin contents?
pre.pastebin {
    margin: 1em 0;
    padding: 0.75em;
    white-space: pre-wrap;
    border: 1px solid #999;
    background: white;
    box-shadow: 0 0 3px #ccc;
}

// XXX lol
textarea {
    -moz-box-sizing: border-box:
    box-sizing: border-box:
    width: 100%;
}


// -----------------------------------------------------------------------------
// general styling

a {
    color: $link-color;
    &:hover {
        color: scale-color($link-color, $lightness: -30%);
    }

    &:visited {
        color: $link-visited-color;
        &:hover {
            color: scale-color($link-visited-color, $lightness: -30%);
        }
    }
}

// TODO seems obvious candidate for archetype
input[type=search] {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1em;
}

// TODO this too?
p {
    margin-top: 0;
}

// -----------------------------------------------------------------------------
// utility classes

// Image that's client-side resized (down only!) to a reasonable size
.image-capped {
    max-width: 200px;
    max-height: 200px;
}

ul.inline-list {
    margin: 0;
    padding: 0;

    > li {
        display: inline-block;

        &::before {
            content: "• ";
            margin: 0 0.33em;
        }
        &:first-child::before {
            content: none;
        }
    }
}

// -----------------------------------------------------------------------------
// widgets

.activity-feed {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        background: $container-bg;

        margin: 1em 0;
        box-shadow: 1px 1px 2px #ccc;

        .-header {
            padding: 0.5em;
            background: white;
        }
        .-timestamp {
            font-size: 0.8em;
            float: right;
        }
        .-title {
            font-size: 1.2em;
            font-family: serif;
        }
        .-body {
            padding: 1em;

            pre {
                white-space: pre-wrap;
                border-left: 3px solid $border-color;
                padding-left: 0.5em;
            }
        }
    }
}


// Ye media object, of course.  But with flexbox!
.media {
    @include flexbox;
}
.media-inset {
    margin-right: 1em;
}
.media-body {
    @include flex(1);
}

.media-body--with-footer {
    @include flexbox;
    @include flex-direction(column);
}
.media-body-main {
    @include flex(1);
}
.media-body-footer {
}


/// TODO this is precisely the sort of thing that should live in archetype
table.table-pretty {
    > tbody {
        > tr {
            // TODO standardize on grays
            border-bottom: 1px solid #e0e0e0;

            &:last-child {
                border-bottom: none;
            }

            &:nth-child(2n) {
                background: rgba(#808080, 0.1);
            }

            &:hover {
                background: hsla(225, 80%, 60%, 0.1);
            }
        }
    }
}

.unheader {
    font-size: 1rem;
    margin-left: 1em;
    font-weight: normal;
    color: #444;
}

// -----------------------------------------------------------------------------
// comic stuff that shouldn't live here at all

/*ol*/.comic-page-grid {
    list-style-type: none;
    font-size: 1.5em;
    margin: 0;
    padding: 0;

    > li {
        display: inline-block;

        > a {
            display: block;
            margin: 0 0.5em 0.5em 0;
            height: 2.5em;
            width: 2.5em;
            line-height: 2.5em;
            vertical-align: middle;
            text-align: center;

            background: scale-color($secondary-accent, $saturation: -40%, $lightness: 95%);
            border: 1px solid scale-color($secondary-accent, $saturation: -20%, $lightness: 90%);

            &:visited {
                border-style: dotted;
            }
            &:hover {
                background: scale-color($secondary-accent, $saturation: -20%, $lightness: 90%);
            }
        }

        &.privileged > a {
            box-shadow: 0 0 0 2px $privileged-color;
        }

    }
}
